body {
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.header {
    text-align: center;
    color: white;
}

.profile-section {
    background-size: cover;
    height: 100vh; /* Set height to 100% of the viewport height */
    background: url('../../assets/images/home-bg.jpg') center center;
    padding-top: 75px;
}

.website {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #dddddd;
    position: relative;
}

.website .details {
    flex-grow: 1;
}

.website h3 {
    margin: 0;
    font-size: 18px;
}

.website p {
    margin: 5px 0;
    color: #888;
}

.website button { 
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Jost', sans-serif !important;
}

.upgrade-button {
    background-color: #4caf50;
    color: white;
}

.unsubscribe-button {
    background-color: #f44336;
    color: white;
}

a {
    color: blue;
}

.mat-dialog-actions {
    float: right;
}

.dialog-button {
    width: 90px;
    height: 40px;
}

@media (max-width: 374px) {

    .website .buttons {
        display: flex;
        flex-direction: column;
    }

    .website button {
        margin: 5px;
    }

}

@media (max-width: 798px) {
    .website {
        flex-direction: column;
    }

    .website .details {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .website button {
        width: 100%;
    }

    .website .buttons {
        display: flex;
    }

}



.submit-error {
    color: red;
    font-size: 14px;
    text-align: center;
  }

  .spinner { 
    margin: auto;
  }

  mat-spinner {
    margin: auto !important;
  }
  
  mat-spinner svg {
    width: 30px !important;
    height: 30px !important;
  }