<h1 mat-dialog-title>Unsubscribe</h1>
<div *ngIf="!unsubscribed">
  <div mat-dialog-content>
    <p>Are you sure you want to unsubscribe? You will lose your website.</p>
  </div>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button color="secondary" mat-raised-button (click)="unsubscribe()">Unsubscribe</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onNoClick()">Cancel</button>
  </div>
</div>

<div *ngIf="unsubscribed">
  <div mat-dialog-content>
    <p>You have successfully unsubscribed. You no longer have access to your website.</p>
  </div>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onNoClick()">Cancel</button>
  </div>
</div>
